<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <div class="uk-container uk-container-large " style="margin-top: 30px;">
        <div class="" style="display: grid; grid-gap: 40px; grid-template-columns: repeat(2, 1fr);">
            <div class="uk-card uk-card-secondary uk-card-body">
                <h3 class="uk-card-title"></h3>
                <div>
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Login</legend>

                        <div class="uk-margin">
                            <input class="uk-input uk-margin" id="username" type="text" placeholder="Username"
                                aria-label="Username">
                            <input class="uk-input " id="password" type="text" placeholder="Password"
                                aria-label="Password">
                        </div>
                        <div class="uk-flex">
                            <button class="uk-button uk-button-primary" onclick="login()">Login</button>
                            <span id="loginResult" class="uk-margin-left"></span>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="uk-card uk-card-secondary uk-card-body ">
                <h3 class="uk-card-title"></h3>
                <div>
                    <fieldset class="uk-fieldset">

                        <legend class="uk-legend">Create an account</legend>

                        <div class="uk-margin">
                            <input class="uk-input uk-margin" id="newusername" type="text" placeholder="Username"
                                aria-label="Username">
                            <input class="uk-input" id="newpassword" type="text" placeholder="Password"
                                aria-label="Password">
                        </div>
                        <div class="uk-flex">
                            <button class="uk-button uk-button-primary" onclick="createAccount()">Create</button>
                            <span id="registerResult" class="uk-margin-left"></span>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="uk-card uk-card-secondary uk-card-body uk-margin">
            <h3 class="uk-card-title"></h3>
            <div>
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">Password forgotten ?</legend>
                    <p>If you forgot your password, you can use this form to get a unique connection link. You will be
                        able to connect and change your password with it.</p>
                        <p>! This link is only valable for ONE connection !</p>
                    <p>Note: if there is no email associated with your account, the link will be sent directly on this
                        form</p>
                    <div class="uk-margin">
                        <input class="uk-input" id="forgotUusername" type="text" placeholder="Username"
                            aria-label="Username">
                    </div>
                    <div class="uk-flex">
                        <button class="uk-button uk-button-primary" onclick="forgot()">Send a unique connection
                            link</button>
                        <span id="forgotResult" class="uk-margin-left"></span>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</body>

</html>

<script>
    async function createAccount () {
        let username = $('#newusername').val()
        let password = $('#newpassword').val()
        $.ajax(
            {
                url: '/register',
                type: "POST",
                data: JSON.stringify({ name: username, password: password }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: data => {
                    $("#registerResult").css('color', "#81ffa3")
                    $("#registerResult").html('Success');
                    location.replace('/')
                },
                error: data => {
                    $("#registerResult").css('color', "rgb(255, 129, 129)")
                    $("#registerResult").html(data.responseJSON.reason);
                },
            })

    }
    async function forgot () {
        let username = $('#forgotUusername').val()
        $.ajax(
            {
                url: `/reset_token/${username}`,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: data => {
                    $("#forgotResult").css('color', "#81ffa3")
                    if (data.info == 'email') {
                        $("#forgotResult").html('There is an email associated with this account. Your token has been sent by mail');
                    } else {
                        $("#forgotResult").html(`There is no email associated with this account. Here is your unique link: <a href="connect/${data.token}">Connect: ${data.token}</a>`);
                    }

                },
                error: data => {
                    $("#forgotResult").css('color', "rgb(255, 129, 129)")
                    $("#forgotResult").html(data.responseJSON.reason);
                },
            })
    }
    async function login () {
        let username = $('#username').val()
        let password = $('#password').val()
        $.ajax(
            {
                url: '/login',
                type: "POST",
                data: JSON.stringify({ name: username, password: password }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: data => {
                    $("#loginResult").css('color', "#81ffa3")
                    $("#loginResult").html("Success");
                    location.replace('/')
                },
                error: data => {
                    $("#loginResult").css('color', "rgb(255, 129, 129)")
                    $("#loginResult").html(data.responseJSON.reason);
                },
            })

    }
</script>