<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body style="padding: 80px;">
    <a class="uk-button uk-button-danger" href="/logout">logout (<%= username %>)</a>
    <div style="margin-top: 30px;" class="uk-child-width-1-3@m uk-grid-small uk-grid-match ">
        <div class="uk-card uk-card-body uk-card-primary">
            <h3 class="uk-card-title">Welcome, <%= username %>
            </h3>
            <p>This panel is under construction.</p>
            <% if(username=='admin' ){ %>
                <h1 style="color: rgb(255, 206, 91);">
                    Congrats!
                </h1>
                <p style="color: #cbff5b;"">
                    <%= flag %>
                </p>
                <% } else { %>
                    <p>If you are not an admin, there is nothing to do here for now</p>
                    <% } %>
        </div>
    </div>


</body>

</html>

<script>

</script>